



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}


:root{
    --black: #000000;
    --darkblue: #080b12;
    --darkcyan: #141928;
    --darkgrey: #282828;
    --grey: #707070;
    --lime: #adff2f;
    --white: #ffffff;
}

.mrg{
    margin: 0 auto;
}

/* fonts */

.f1{
    font-size: 1.6em;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
}
/* hover f1 */
.f1:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.f2{
    font-size: 0.8em;
}

.f3{
    font-size: 0.7em;
}

.f4{
    font-size: 0.7em;
}

.f5{
    font-size: 0.6em;
}

.caps{
    text-transform: uppercase;
}

.white{
    color: #ffffff;
}

.grey{
    color: #707070;
}

.black{
    color: var(--black);
    font-size: 1.5em;
    position: absolute;
    top: 23%;
    left: 23%;
}

.bold{
    font-weight: 600;
}

.bolder{
    font-weight: 800;
}

.cntr{
    text-align: center;
}

.mrgt{
    margin-top: 25px;
}

.dnone{
    display: none;
}

/* ----- */

/* buttons */

.btn1{
    padding: 12px 30px;
    border-radius: 30px;
    border: 1px solid #ffffff;
    text-decoration: none;
    transition: font-size 0.2s, padding 0.2s,  background-color 0.2s;
}

.btn2{
    padding: 10px;
    text-decoration: none;
    transition: color 0.2s, background-color 0.2s;
}

/* hoverbtn1 */

.btn1:hover {
    font-size: 0.8em;
    font-weight: 800;
    border: #ffffff00;
    padding: 15px 33px ;
    background-color: var(--lime);
    color: var(--darkgrey);
    transition: font-size 0.2s, padding 0.2s,  background-color 0.2s;
}

/* endhov */

/* hoverbtn2 */

.btn2:hover {
    border-bottom: 2px solid  var(--lime) ;
    background-color: #ffffff09;
    border-radius: 5px;
    color: var(--white);
    transition: color 0.2s, background-color 0.2s;
}



/* endhov */


/* ---- */

/* fixed bars */

.headbar{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: calc(100% - 220px);
    margin-left: 220px;
    height: 80px;
    background-color: #080b12d0;
    padding-right: 10px;
    z-index: 25;
} 

.sidebar{
    position: fixed;
    top: 0;
    width: 220px;
    height: 100%;
    min-height: 500px;
    background-color: var(--black);
    z-index: 50;
    padding-top: 10px;
    padding-bottom: 90px;
    min-height: 700px;
}

.flexside{
    display: flex;
    flex-direction: column;
    
}

.sectbot{
    position: absolute;
    bottom: 100px;
}


.footbar{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: var(--darkgrey);
    z-index: 100;
    padding: 8px;
}

/* principal groups */

.content{
    padding-top: 90px;
    padding-bottom: 80px;
    margin-left: 220px;
    width: calc(100% - 220px);
    height: 100%;
    min-height: 100vh;
    background-color: var(--darkcyan);
}

.navmain{
    margin: 0 auto;
    max-width: 700px;
}


/* main */

.list1{
    margin-top: 10px;
    display: flex;
    list-style: none;
    min-width: 680px;
}

.linavmain{
    margin: 0px 5px;
}

.sectionclass{
    margin: 40px 20px;
}


.flexcard1{
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        justify-content: space-between;
}

.card1{
    padding: 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: calc(95% / 6);
    background-color: #ffffff0a;
    transition: all 0.20s ;
    text-align: center;
}

/* hovcard1 */

.card1:hover {
    background-color: #ffffff49;
    transition: all 0.4s ;
}

.fifty{
    border-radius: 5%;
    margin-bottom: 10px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.5);

}


/* section2 */

.flexcard2{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    gap: 0.8vw;
}

/* .subject{
    
} */

.fiftyprofile{
    border-radius: 50%;
    margin-bottom: 10px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.5);
}

.round{
    border-radius: 15%;
}

/* side bar */

.btnlogo{
    display: inline-block;
    padding: 10px 0px;
}

.logo{
    width: 70%;
}

.linav2{
    margin-top: 4px;
    margin-bottom: 4px;
} 

.linav3{
    margin-bottom: 15px;
}

.logosvg{
    display: inline-block;
    width: 12%;
}

.btnsvg{
    display: flex;
    align-items: center;
    gap: 5px;
    padding-left: 13px;
    border-left: 2px solid rgba(0, 0, 0, 0);
    transition: all 0.4s ;
}

.btnsvg2{
    display: flex;
    align-items: center;
    gap: 5px;
    padding-left: 13px;
    border-left: 2px solid rgba(0, 0, 0, 0);
    transition: all 0.4s ;
}

.btnsvg:hover {
    border-left: 2px solid var(--lime);
    transition: all 0.2s ;
}

.btnsvg2:hover {
    cursor: pointer;
}

.mrgl{
    margin-left: 15px;
}

.squareplus{
    display: flex;
    position: relative;
    width: 30px;
    height: 30px;
    background-color: var(--white);
}

.hovw:hover {
    color: var(--white);
    transition: all .2;
}

.try:hover   .black{
    transition: all 2s;
    animation-name: plus;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
    @keyframes plus {
        from {
            transform:rotate(0deg) font;

        }
        to {
            transform:rotate(360deg);

        }
    }

    .limiter{
        padding: 0px 15px;  
    }

    .logosvg2{
        display: inline-block;
        width: 7%;
    }

    .logosvg3{
        display: inline-block;
        width: 14%;
    }

    .profilesvg1{
        background-color: var(--grey);
        background-image: url(../img/profile.svg);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50%;
        height: 30px;
        width: 30px;
    }

    /* footbar  */

    .flexfootbar{
        /* position: relative; */
        align-items: center;
        /* top: 12%; */
    }


    .dim{
        width: 50px;
    }

    .baseflex{
        display: flex;
        justify-content: space-between;
    }

    /* .baseflex2{
        display: flex;
    } */

    .songico{
        align-items: center;
        gap: 20px;
    }

    .duration{
        align-items: baseline;
        gap: 25px;
    }

    .likefolder{
        gap: 10px;
    }

    .sectionleft{
        align-items: center;
        gap: 30px;
    }

    .sectionmiddle{
        align-items: center;
        flex-direction: column;
        gap: 5px;
    }

    .sectionright{
        align-items: center;
        gap: 20px;
    }

    .comands{
        align-items: center;
        gap: 35px;
    }

    .xt{
        font-size: 2.2em;
    }

    .xt2{
        font-size: 1.4em;
    }

    .xt3{
        font-size: 1.1em;
    }



    /* barprogression */

    .bar{
        width: 30vw;
        height: 5px;
        background-color: var(--grey);
    }

    .bar2{
        width: 150px;
        height: 5px;
        background-color: var(--grey);
    }

    .fullbar{
        background-color: var(--white);
        width: 25%;
        height: 5px;
    }

    





    /*       QUERYS    */
    /*  
    1200   
    
    cards 100%/4
    
    leftnavbar bigger text
    
    900

    folder heart display row

    cards 100%/2


    400


    */

    @media screen and (max-width: 1200px ){
      
        .card1{
            padding: 15px;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            width: calc(95% / 4);
            background-color: #ffffff0a;
            transition: all 0.20s ;
            text-align: center;
            overflow-x: scroll;
        }

    }